/*노트북 & PC : 1024px- 1279px */
@media (min-width:1024px) and (max-width:1279px){
    .sectionCon {
        .detail .imageContainer {
            position: relative;
            right: -5%;
            
            .mainImg {
                width: 504px;
                height: 494px;
                object-fit: contain;
            }
          }
          .cartBtn {
            position: relative;
            left: 3px;
            width: 93%;
        }
    }
    .mainCon {
        .cowLeatherCon {
            .cowLeatherImg {
                width: 38%;
            }
        }
        .cowSofaCon {
            .cowSofaImg {
                width: 45%;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 57%;

            .reportBox {
                .reportImg {
                    width: 46%;
                }
                .reportText {
                    position: relative;
                    right: 17px;
                }
            }
        }
    }
}

// 태블릿 가로, 세로 : 768px-1023px
@media (min-width:768px) and (max-width:1023px){
    .sectionCon .detail .imageContainer {
        position: relative;
        left: 4%;
        .mainImg {
            width: 450px;
            height: 440px;
          }
      } 
      .sectionCon .infoContainer {
        position: relative;
        bottom: 10px;
        right: 6%;
       .name {
            position: relative;
            right: 3px;
            font-size: 2.1rem;
        }
        .delSize {
            font-size: 1.8rem;
            
        }
        .spanSize {
            font-size: 1.8rem;
        }
      }
    .sectionCon .infoContainer .asideMove {

    .size {
        font-size: 1.5rem;
        } 
    }
    .sectionCon {
        .cartBtn {
            position: relative;
            left: -2px;
            height: 10%;
        } 
    }  
    // 상세정보 , 리뷰 ,Q&A
    .list{
        gap: 270px;
        .information {
            &::after {
                position: absolute;
                left: -45px;
                width: 250%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -65px;
                width: 168px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -63px;
                width: 165px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .cowLeatherCon {
            .cowLeatherImg {
                width: 40%;
            }
        }
        .imagesCon {
            .cottonBox {
                width: 205px;
                height: 205px;
            }
            .cottonWoolImg {
                width: 180px;
                height: 180px;
            }
            .halfImg {
                width: 57%;
            }
        }
        .cowSofaCon {
            .cowSofaImg {
                width: 53%;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 65%;

            .reportBox {
                .reportImg {
                    width: 43%;
                }
                .reportText {
                    position: relative;
                    right: 8px;
                }
            }
        }
    }
}

// 작은 테블릿, 큰 모바일(가로) : 767px*
@media (max-width:767px){
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 450px;
                height: 440px;
                left: 43%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 100px;
            right: 14%;

            .name {
                font-size: 2rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove .secondName {
                margin-bottom: 18px;
            }
            .size {
                position: relative;
                right: 4px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
                left: -1px;
                width: 92%;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 200px;
        .information {
            &::after {
                position: absolute;
                left: -37px;
                width: 220%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -55px;
                width: 150px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -52px;
                width: 145px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .cowLeatherCon {
            .cowLeatherImg {
                width: 45%;
            }
            .cowLeatherText {
                font-size: 1.5rem;
                margin-top: 15px;
            }
        }
        .imagesCon {
            .cottonBox {
                position: relative;
                top: 100px;
                left: 60px;
                width: 175px;
                height: 175px;
            }
            .cottonWoolImg {
                width: 150px;
                height: 150px;
            }
            .halfImg {
                width: 57%;
            }
            .imagesText {
                margin-top: 10px;
                font-size: 1.5rem;
            }
        }
        .cowSofaCon {
            .cowSofaImg {
                width: 60%;
            }
        }
        .blurBottom {
            .diagramCon {
                .ellStyle {
                    width: 7%;
                }
            }
            .styleText {
                position: relative;
                left: 16px;
                gap: 197px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 80%;

            .reportBox {
                .reportImg {
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 5px;
                }
            }
        }
    }
}

// 아이폰 12 반응형
@media (max-width: 390px) {
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 350px;
                height: 340px;
                left: 52%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 70px;
            right: 56px;

            .name {
                font-size: 1.8rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove {
                margin-top: 3px;

                .size {
                    position: relative;
                    right: 4px;
                    font-size: 1.4rem;
                }
            }
            .secondName {
                margin-bottom: 18px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 75px;
        .information {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -18px;
                width: 100px;
            }
        }
        .review {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -34px;
                width: 105px;
            }
        }
        .question {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -32px;
                width: 100px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .box {
            width: 115px;
        }
        .cowLeatherCon {
            .cowLeatherImg {
                width: 65%;
            }
            .cowLeatherText {
                font-size: 1.4rem;
                margin-top: 15px;
                word-break: keep-all;
            }
        }
        .imagesCon {
            .cottonBox {
                position: relative;
                top: 65px;
                left: 10px;
                width: 145px;
                height: 145px;
            }
            .cottonWoolImg {
                width: 120px;
                height: 120px;
            }
            .halfImg {
                width: 70%;
            }
            .imagesText {
                margin-top: 10px;
                font-size: 1.5rem;
            }
        }
        .cowSofaCon {
            .cowSofaImg {
                width: 90%;
            }
        }
        .blurText {
            margin-top: 30px;
            font-size: 2.1rem;
            font-weight: 600;
            color: #000000;

            .blurSpan {
                font-size: 2.5rem;
            }
        }
        .blurBottom {
            .diagramCon {
                .ellStyle {
                    position: relative;
                    width: 8%;
                }
                .lineStyle {
                    position: relative;
                    top: 12px;
                    width: 23%;
                    height: 5px;
                }
            }
            .styleText {
                position: relative;
                left: 55px;
                font-size: 1.4rem;
                gap: 68px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 94%;

            .reportBox {
                .reportImg {
                    position: relative;
                    right: 39px;
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 21%;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    white-space: nowrap;
                    
                }
            }
        }
    }
}