/*노트북 & PC : 1024px- 1279px */
@media (min-width:1024px) and (max-width:1279px){
    .sectionCon {
        .detail .imageContainer {
            position: relative;
            right: -5%;
            
            .mainImg {
                width: 504px;
                height: 494px;
                object-fit: contain;
            }
          }
          .cartBtn {
            position: relative;
            left: 3px;
            width: 93%;
        }
    }
    //상세정보 시작
    .mainCon {
        .threadCon {
            .threadText {
                position: relative;
                right: 62px;
            }
            .threadImg {
                width: 35%;
            }
        }
        .knittingCon {
            .knittingText {
                position: relative;
                right: 108px;
            }
            .knittingImg {
                width: 35%;
            }
            .knittingEx {
                position: relative;
                left: 27px;
                letter-spacing: -1px;
            }
        }
        .pastelCon {
            .pastelText {
                position: relative;
                right: 42px;
            }
            .pastelImg {
                width: 38%;
            }
            .pastelEx {
                position: relative;
                left: 5px;
                letter-spacing: -1px;
            }
        }
        .bookCon {
            .bookText {
                position: relative;
                right: 133px;
            }
            .bookImg {
                width: 560px;
                height: 460px;
            }
            .bookEx {
                position: relative;
                right: 103px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 57%;
            .reportBox {
                .reportImg {
                    width: 46%;
                }
                .reportText {
                    position: relative;
                    right: 17px;
                }
            }
        }
    }
}

// 태블릿 가로, 세로 : 768px-1023px
@media (min-width:768px) and (max-width:1023px){
    .sectionCon .detail .imageContainer {
        position: relative;
        left: 4%;
        .mainImg {
            width: 450px;
            height: 440px;
          }
      } 
      .sectionCon .infoContainer {
        position: relative;
        bottom: 10px;
        right: 6%;
       .name {
            position: relative;
            right: 3px;
            font-size: 2.1rem;
        }
        .delSize {
            font-size: 1.8rem;
            
        }
        .spanSize {
            font-size: 1.8rem;
        }
      }
    .sectionCon .infoContainer .asideMove {

    .size {
        font-size: 1.5rem;
        } 
    }
    .sectionCon {
        .cartBtn {
            position: relative;
            left: -2px;
            height: 10%;
        } 
    }
    // 상세정보 , 리뷰 ,Q&A
    .list{
        gap: 270px;
        .information {
            &::after {
                position: absolute;
                left: -45px;
                width: 250%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -65px;
                width: 168px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -63px;
                width: 165px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .threadCon {
            .threadText {
                position: relative;
                right: 48px;
            }
            .threadImg {
                width: 38%;
            }
        }
        .knittingCon {
            .knittingText {
                position: relative;
                right: 103px;
            }
            .knittingImg {
                width: 40%;
            }
            .knittingEx {
                position: relative;
                left: 17px;
                letter-spacing: -1px;
                font-size: 1.7rem;
                margin-top: 10px;
            }
        }
        .pastelCon {
            .pastelText {
                position: relative;
                right: 45px;
            }
            .pastelImg {
                width: 45%;
            }
            .pastelEx {
                position: relative;
                right: 14px;
                letter-spacing: -1px;
                font-size: 1.7rem;
                margin-top: 10px;
            }
        }
        .bookCon {
            .bookText {
                position: relative;
                right: 114px;
            }
            .bookImg {
                width: 520px;
                height: 420px;
            }
            .bookEx {
                position: relative;
                right: 93px;
                font-size: 1.7rem;
                margin-top: 10px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 65%;

            .reportBox {
                .reportImg {
                    width: 43%;
                }
                .reportText {
                    position: relative;
                    right: 8px;
                }
            }
        }
    }
}

// 작은 테블릿, 큰 모바일(가로) : 767px*
@media (max-width:767px){
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 450px;
                height: 440px;
                left: 43%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 100px;
            right: 14%;

            .name {
                font-size: 2rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove .secondName {
                margin-bottom: 18px;
            }
            .size {
                position: relative;
                right: 4px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
                left: -1px;
                width: 92%;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 200px;
        .information {
            &::after {
                position: absolute;
                left: -37px;
                width: 220%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -55px;
                width: 150px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -52px;
                width: 145px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .threadCon {
            .threadText {
                position: relative;
                right: 62px;
                font-size: 1.9rem;
                letter-spacing: -1px;

                .threadSpan {
                    font-size: 2.1rem;
                }
            }
            .threadImg {
                width: 50%;
            }
        }
        .knittingCon {
            .knittingText {
                position: relative;
                right: 104px;
                font-size: 2.1rem;
                letter-spacing: -1px;
            }
            .knittingImg {
                width: 50%;
            }
            .knittingEx {
                position: relative;
                left: 10px;
                letter-spacing: -1px;
                font-size: 1.6rem;
                margin-top: 10px;
            }
        }
        .pastelCon {
            .pastelText {
                position: relative;
                right: 35px;
                font-size: 2.1rem;
                letter-spacing: -1px;
            }
            .pastelImg {
                width: 53%;
            }
            .pastelEx {
                position: relative;
                right: 7px;
                letter-spacing: -1px;
                font-size: 1.6rem;
                margin-top: 10px;
            }
        }
        .bookCon {
            .bookText {
                position: relative;
                right: 105px;
                font-size: 1.9rem;
                letter-spacing: -1px;
                
                .bookSpan {
                    font-size: 2.1rem;
                }
            }
            .bookImg {
                width: 480px;
                height: 380px;
            }
            .bookEx {
                position: relative;
                right: 91px;
                font-size: 1.6rem;
                margin-top: 10px;
                letter-spacing: -1px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 80%;

            .reportBox {
                .reportImg {
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 5px;
                }
            }
        }
    }
}

// 390px 아이폰 12 반응형
@media (max-width: 390px) {
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 350px;
                height: 340px;
                left: 52%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 70px;
            right: 56px;

            .name {
                font-size: 1.8rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove {
                margin-top: 3px;

                .size {
                    position: relative;
                    right: 4px;
                    font-size: 1.4rem;
                }
            }
            .secondName {
                margin-bottom: 18px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 75px;
        .information {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -18px;
                width: 100px;
            }
        }
        .review {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -34px;
                width: 105px;
            }
        }
        .question {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -32px;
                width: 100px;
            }
        }
    }
    //상세정보 시작
    .mainCon {
        .box {
            width: 115px;
        }
        .comment {
            letter-spacing: -1px;
        }
        .threadCon {
            .threadText {
                position: relative;
                right: 46px;
                font-size: 1.6rem;
                letter-spacing: -1px;

                .threadSpan {
                    font-size: 1.8rem;
                }
            }
            .threadImg {
                width: 80%;
            }
        }
        .knittingCon {
            .knittingText {
                position: relative;
                right: 68px;
                font-size: 2rem;
                letter-spacing: -1px;
            }
            .knittingImg {
                width: 80%;
            }
            .knittingEx {
                position: relative;
                left: -9px;
                letter-spacing: -1px;
                font-size: 1.5rem;
                margin-top: 10px;
                width: 75%;
            }
        }
        .pastelCon {
            .pastelText {
                position: relative;
                right: -5px;
                font-size: 2rem;
                letter-spacing: -1px;
            }
            .pastelImg {
                width: 80%;
            }
            .pastelEx {
                position: relative;
                left: 1px;
                letter-spacing: -1px;
                font-size: 1.5rem;
                margin-top: 10px;
            }
        }
        .bookCon {
            .bookText {
                position: relative;
                right: 51px;
                font-size: 1.6rem;
                letter-spacing: -1px;
                
                .bookSpan {
                    font-size: 2rem;
                }
            }
            .bookImg {
                width: 330px;
                height: 300px;
            }
            .bookEx {
                position: relative;
                right: 22px;
                font-size: 1.5rem;
                margin-top: 10px;
                letter-spacing: -1px;
            }
        }
        // 인체적용시험 css
        .reportCon {
            width: 94%;

            .reportBox {
                .reportImg {
                    position: relative;
                    right: 39px;
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 21%;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    white-space: nowrap;
                    
                }
            }
        }
    }
}