@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Roboto:wght@500&display=swap');
@import "../../styles/Variables_scss/variables";

.sectionCon {
    display: flex;
    justify-content: center;
    margin-top: 180px;

    .detail {
        position: relative;
        left: 4%;
        display: flex;
        flex-direction: row;
        
        .imageContainer {
            position: relative;
            right: 100px;
            padding-right: 200px;
          }
          & img {
            width: 544px; /* 고정된 너비 */
            height: 534px; /* 고정된 높이 */
            object-fit: contain;
          }
      }
      .infoContainer {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        
    
        .name {
            position: relative;
            right: 3px;
            font-family: "Montserrat", sans-serif;
            font-size: $font-size-title;
            font-weight: 600;
            font-style: normal;
        }   
        .delSize {
            font-size: $font-size-del;
            padding-bottom: 15px;
        }
        .spanSize {
            position: relative;
            bottom: 10px;
            left: 2px;
            font-size: $font-size-del;
            color: red;
            padding-bottom: 20px;
        }
        .asideMove {
            margin-top: 15px;

            .secondName {
                font-size: $font-size-text;
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                font-style: normal;
                color: rgba(0, 0, 0, 0.7);
                margin-bottom: 30px;
                padding-bottom: 15px;
                border-bottom: 2px solid;
                width: 100%;
            }
            .size {
                position: relative;
                bottom: 12%;
                display: flex;
                flex-direction: row;
                font-size: 1.5rem;

                .checkBoxMove {
                    margin-right: 15px;
                    cursor: pointer; /* 체크박스를 클릭할 수 있도록 */
                    accent-color: black;
                    width: 15px; /* 원하는 너비 설정 */
                    height: 15px; /* 원하는 높이 설정 */
                }
            }
        }
    }
    .cartBtn {
        position: relative;
        top: 15%;
        height: 8%;
        width: 119%;
        background: #ffffff;
        border: none;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        font-size: $font-size-comment;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s; /* 트랜지션 지속 시간 */
        transition-timing-function: ease-in-out; /* 트랜지션 타이밍 함수 */
    
        &:hover {
            transform: translateY(-20%);
            background-color: #424242;  /* 라이트 그레이 색상 */
            color: white;
            border: none;
    
        }
    }
}

// 상세 정보 ,리뷰, Q&A
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    margin-bottom: 200px;
    margin-top: 200px;

    .information {
        position: relative;
        right: 18px;
        font-size: $font-size-text;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s; /* 트랜지션 지속 시간 */
        transition-timing-function: ease-in-out; /* 트랜지션 타이밍 함수 */
        
        &:hover {
            transform: translateY(-40%); /* 부모 요소의 호버 효과 */
        }
    
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: -60px;
            width: 300%;
            border-bottom: 2px solid black;
        }
    }
    .review {
        position: relative;
        right: 18px;
        font-size: $font-size-text;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s; /* 트랜지션 지속 시간 */
        transition-timing-function: ease-in-out; /* 트랜지션 타이밍 함수 */
        
        &:hover {
            transform: translateY(-40%); /* 부모 요소의 호버 효과 */
        }
    
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: -80px;
            width: 200px;
            border-bottom: 2px solid black;
        }
    }
    .question {
        position: relative;
        font-size: $font-size-text;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s; /* 트랜지션 지속 시간 */
        transition-timing-function: ease-in-out; /* 트랜지션 타이밍 함수 */
        
        &:hover {
            transform: translateY(-40%); /* 부모 요소의 호버 효과 */
        }
    
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: -78px;
            width: 200px;
            border-bottom: 2px solid black;
        }
    }
}

// 상세 정보 시작 css

.mainCon {
    position: relative;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 130px;
        height: 40px;
        background-color: #3D3A3A;
        border: 1px solid #3D3A3A;
    
        .boxSecon {
            position: absolute;
            top: -3px;
            font-size: $font-size-text;
            font-family: "Roboto", serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
    .comment {
        position: relative;
        top: 10px;
        font-size: $font-size-comment;
        letter-spacing: $letter-spacing;
        line-height: $line-height;
        text-align: center;
        opacity: $opacity;
    }
    .lubberCon {
        display: flex;
        justify-content: center;
        padding-top: 150px;
    
        .lubberImg {
            width: 20%;
        }
    }
    .lubberText {
        margin-top: 30px;
        font-size: $font-size-text;
        letter-spacing: $letter-spacing;
        opacity: $opacity;
    }
    .latexPre {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .latexF {
            margin-bottom: 40px;
            font-size: 3.5rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            font-style: normal;
            letter-spacing: $letter-spacing;
            opacity: $opacity;
        }
        .textOne, .textTwo, .textThree {
            margin: 0;
            font-size: $font-size-text;
            line-height: $line-height;
            letter-spacing: $letter-spacing;
            opacity: $opacity;
        }
        .girl {
            margin-top: 50px;
            width: 30%;
        }
        .textFour {
            margin-top: 30px;
            font-size: $font-size-text;
            letter-spacing: $letter-spacing;
            opacity: $opacity;
        }
    }
    .rowImgCon {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 150px;
    
        .colFig {
            display: flex;
            flex-direction: column;
    
            .rubber {
                width: 250px;
            }
            & p {
                margin-top: 25px;
                font-size: $font-size-text;
                font-weight: 700;
                opacity: $opacity;
            }
            .birch {
                width: 250px;
                height: 375px;
            }
        }
    }
    .hammerCon {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 35%;
        padding: 25px;
        border-radius: 15px;
        background-color: #D7CFBA;
    
        .hammerImg {
            position: relative;
            top: 15px;
            width: 10%;
        }
        .hammerTitle {
            position: relative;
            top: 3px;
            bottom: 7px;
            font-size: 2rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
            letter-spacing: $letter-spacing;
        }
        .hammerText {
            position: relative;
            bottom: 8px;
            font-size: $font-size-text;
            line-height: $line-height;
            opacity: $opacity;
        }
    }
    .shakingCon {
        position: relative;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35%;
        padding: 20px 0px 20px 0px;
        border-radius: 15px;
        background: linear-gradient(
        180deg,
        rgba(193, 180, 137, 0.56) 0%,
        rgba(193, 180, 137, 0.24) 100%
      );

      .shakingImg {
        position: relative;
        top: 40px;
        width: 80%;
        border-radius: 15px;
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
      }
      
      .shakingTitle {
        z-index: 1;
        position: absolute;
        bottom: 75%;
        font-size: $font-size-title;
        font-weight: 900;
        line-height: $line-height;
        text-align: center;
        color: #ffffff;
        opacity: $opacity;
    }
    .shakingText {
        position: relative;
        right: 35px;
        padding-top: 50px;
        font-size: 2rem;
        letter-spacing: $letter-spacing;
        line-height: 3;
        opacity: $opacity;
        }
    }
    .reportCon {
        margin-top: 9%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 40%;
        background-color: #9EAAA8;
    
        .reportBox {
            display: flex;
            flex-direction: row;
            align-items: center;
        
            .reportImg {
                position: relative;
                width: 50%;
                padding: 50px;
            }
            .reportText {
                font-size: 2rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                line-height: 2;
                letter-spacing: -1px;
                opacity: 0.9;
            }
        }
    }
}

// 반응형 임포트
@import "../Responsive_scss/ResponBedDetail/PremiumLatexBed-Responsive.module.scss";
