/*노트북 & PC : 1024px- 1279px */
@media (min-width:1024px) and (max-width:1279px){
    .sectionCon .detail .imageContainer {
        position: relative;
        right: -5%;

        .mainImg {
            width: 504px;
            height: 494px;
            object-fit: contain;
        }
    }
    // 상세정보 시작
    .mainCon {
        .drawerCon {
            .drawerBox {
                width: 80%;
            }
        }
        .lowOneCon {
            margin-bottom: 80px;
            .lowOneImg {
                width: 32%;
            }
        }
        .lowOneText {
            position: relative;
            top: 33px;
            right: 10px;
            width: 28%;
            height: 420px;

            .lowOneEx {
                position: relative;
                left: 25px;
            }
        }
        .blurCon {
            .blurImg {
                width: 700px;
                height: 450px;
            }
        }
        .blurCon::after {
            position: absolute;
            top: 225px;
        }
        // 인체적용시험 css
        .reportCon {
            width: 57%;

            .reportBox {
                .reportImg {
                    width: 46%;
                }
                .reportText {
                    position: relative;
                    right: 17px;
                }
            }
        }
    }
}

// 태블릿 가로, 세로 : 768px-1023px
@media (min-width:768px) and (max-width:1023px){
    .sectionCon .detail .imageContainer {
        position: relative;
        right: -2%;
        .mainImg {
            width: 450px;
            height: 440px;
          }
      } 
      .sectionCon .infoContainer {
        position: relative;
        bottom: 10px;
        right: 10%;
       .name {
            position: relative;
            right: 3px;
            font-size: 2.1rem;
        }
        .delSize {
            font-size: 1.8rem;
            
        }
        .spanSize {
            font-size: 1.8rem;
        }
      }
    .sectionCon .infoContainer .asideMove {

    .size {
        font-size: 1.5rem;
        } 
    }
    .sectionCon {
        .cartBtn {
            height: 10%;
        } 
    }
    // 상세정보 , 리뷰 ,Q&A
    .list{
        gap: 270px;
        .information {
            &::after {
                position: absolute;
                left: -45px;
                width: 250%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -65px;
                width: 168px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -63px;
                width: 165px;
            }
        }
    }
    // 상세정보 시작
    .mainCon {
        .springCon{
            .springImg {
                width: 55%;
            }
        }
        .drawerCon {
            .drawerBox {
                width: 70%;
            }
            .drawerCol {
                .drawerOne, .drawerTwo {
                    position: relative;
                    left: 52px;
                    font-size: 1.5rem;
                }
            }
        }
        .lowOneCon {
            margin-bottom: 50px;
            .lowOneImg {
                width: 37%;
            }
        }
        .lowOneText {
            position: relative;
            top: 33px;
            left: 0px;
            width: 30%;
            height: 420px;

            .lowOneEx {
                position: relative;
                left: 15px;
            }
        }
        .blurCon {
            .blurImg {
                width: 660px;
                height: 410px;
            }
        }
        .blurCon::after {
            position: absolute;
            top: 205px;
        }
        .blurBottom {
            .diagramCon {
                position: relative;
                top: 20px;
            }
        }
        .styleText {
            position: relative;
            top: 25px;
        }
        // 인체적용시험 css
        .reportCon {
            width: 65%;

            .reportBox {
                .reportImg {
                    width: 43%;
                }
                .reportText {
                    position: relative;
                    right: 8px;
                }
            }
        }
    }
}

// 작은 테블릿, 큰 모바일(가로) : 767px*
@media (max-width:767px){
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 450px;
                height: 440px;
                left: 46%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 100px;
            right: 21%;

            .name {
                font-size: 2rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove .secondName {
                margin-bottom: 18px;
            }
            .size {
                position: relative;
                right: 4px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 200px;
        .information {
            &::after {
                position: absolute;
                left: -37px;
                width: 220%;
            }
        }
        .review {
            &::after {
                position: absolute;
                left: -55px;
                width: 150px;
            }
        }
        .question {
            &::after {
                position: absolute;
                left: -52px;
                width: 145px;
            }
        }
    }
    // 상세정보 시작
    .mainCon {
        .springCon{
            .springImg {
                width: 50%;
            }
        }
        .drawerCon {
            .drawerBox {
                width: 65%;
            }
            .drawerCol {
                .drawerOne, .drawerTwo {
                    position: relative;
                    left: -8px;
                    font-size: 1.4rem;
                    width: 125%;
                }
            }
        }
        .lowOneCon {
            margin-bottom: 50px;
            .lowOneImg {
                width: 43%;
            }
        }
        .lowOneText {
            position: relative;
            top: 30px;
            left: 7px;
            width: 35%;
            height: 375px;

            .lowOneEx {
                position: relative;
                left: 5px;
                font-size: 1.5rem;
            }
        }
        .blurCon {
            .blurText {
                font-size: 2.5rem;
            }
            .blurImg {
                width: 610px;
                height: 360px;
            }
        }
        .blurCon::after {
            position: absolute;
            top: 180px;
        }
        .blurBottom {
            .diagramCon {
                position: relative;
                top: 30px;

                .ellStyle {
                    width: 7%;
                }
            }
        }
        .styleText {
            position: relative;
            top: 30px;
            left: 20px;
            font-size: 1.5rem;
        }
        // 인체적용시험 css
        .reportCon {
            width: 80%;

            .reportBox {
                .reportImg {
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 5px;
                }
            }
        }
    }
}

// 아이폰 12 반응형
@media (max-width: 390px) {
    .sectionCon  {
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mainImg {
                position: relative;
                width: 350px;
                height: 340px;
                left: 58%;
            }
        }
        .infoContainer {
            position: relative;
            bottom: 70px;
            right: 90px;

            .name {
                font-size: 1.8rem;
            }
            .delSize{
                font-size: 1.7rem;
                
            }
            .spanSize {
                position: relative;
                left: -0px;
                font-size: 1.7rem;
                padding: 0;
            }
            .asideMove {
                margin-top: 3px;

                .size {
                    position: relative;
                    right: 4px;
                    font-size: 1.4rem;
                }
            }
            .secondName {
                margin-bottom: 18px;
            }
            .cartBtn {
                position: relative;
                top: 50px;
                height: 42px;
            }
        }
    }
    // 상세정보 , 리뷰, Q&A
    .list{
        gap: 75px;
        .information {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -18px;
                width: 100px;
            }
        }
        .review {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -34px;
                width: 105px;
            }
        }
        .question {
            font-size: 1.5rem;
            &::after {
                position: absolute;
                left: -32px;
                width: 100px;
            }
        }
    }
    .mainCon {
        .box {
            width: 115px;
        }
        .springText {
            width: 85%;
            text-align: center;
            font-size: 1.4rem;
        }
        .drawerCon {
            .drawerBox {
                width: 100%;
                
                .drawerImg {
                    position: absolute;
                    right: 38px;
                    width: 80%;
                    opacity: 0.5;
                }
            }
            .drawerCol {
                .drawerOne, .drawerTwo {
                    position: relative;
                    left: -30px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    width: 125%;
                }
            }
        }
        .lowOneCon {
            position: relative;
            margin-bottom: 50px;
            .lowOneImg {
                width: 90%;
            }
        }
        .lowOneText {
            position: absolute;
            z-index: 1;
            opacity: 0.8;
            top: 80px;
            left: 27px;
            width: 90%;
            height: 375px;

            .lowOneEx {
                position: relative;
                top: 30px;
                left: 5px;
                font-size: 1.5rem;
            }
        }
        .blurCon {
            .blurText {
                font-size: 1.7rem;
                font-weight: 600;
                color: #000000;

                .blurSpan {
                    font-size: 2.5rem;
                }
            }
            .blurImg {
                width: 360px;
                height: 320px;
            }
        }
        .blurCon::after {
            position: absolute;
            top: 160px;
        }
        .blurBottom {
            .diagramCon {
                align-items: center;
                position: relative;
                top: 30px;

                .ellStyle {
                    position: relative;
                    top: 19px;
                    width: 5%;
                }
                .lineStyle {
                    width: 30%;
                    height: 5px;
                }
            }
        }
        .styleText {
            position: relative;
            top: 40px;
            left: 42px;
            font-size: 1.4rem;
            gap: 82px;
        }
        // 인체적용시험 css
        .reportCon {
            width: 94%;

            .reportBox {
                .reportImg {
                    position: relative;
                    right: 39px;
                    width: 40%;
                }
                .reportText {
                    position: relative;
                    right: 21%;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    white-space: nowrap;
                    
                }
            }
        }
    }
}